#loading {
    background-color: rgba(0, 0, 0,0.5);
    width: 100vw;
    height: 100vh;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10 ;
}